<div>
    <table class="u-full-width">
        <thead>
            <tr>
                {{#if showName}}
                    <th>Nom de la sonde</th>
                {{/if}}
                <th>Valeur</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {{#each model as |log|}}
            <tr>
                {{#if showName}}
                <td>
                    {{log.sensor.name}}
                </td>
                {{/if}}

                <td>                
                    {{log.value}}
                </td>

                <td>
                    {{date-format log.updatedAt}}
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>
