<div class="row display">
    <div class="two columns">
        {{#link-to "sensors.table"}}Tableau{{/link-to}}
    </div>

    <div class="two columns">
        {{#link-to "sensors.radial"}}Graphique{{/link-to}}
    </div>
</div>
