<div class="radials">
{{#each sensors as |sensor|}}
<div class="radial">
    {{#link-to "sensor" sensor}}{{graph-radial name=sensor.name value=sensor.last unit=sensor.unit minimum=sensor.minimum maximum=sensor.maximum}}{{/link-to}}
</div>
{{/each}}
</div>
