body {
    font-family: 'Playfair Display', serif;
}

@media (min-width: 550px) {
    .container {
        width: 100%;
        max-width: 100%;
    }
}


h2 {
    color: #ffffff;
    background-color: #59AE7F;
    text-align: center;
    padding: 70px;
    margin: 0px;
}

svg {
  height: auto;
  max-width: 100%;
}

.row > div {
    padding-left: 40px;
    padding-right: 40px;
}

.menu {
    background-color: #eef7f2;
}

.menu .columns {
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.menu .title {
    background-color: #cce6d7;
}


.welcome {
    padding-top: calc(50vh - 48px);
    padding-bottom: calc(50vh - 48px);
    margin: 0px;
}

.graph {
    max-width: 100%;
    margin-left: 50px;
    margin-right: 50px;
}

.radial {
    display: inline-block;
}

.radials {
    text-align: center;
}

.submenu {
    background-color: #59AE7F;
}

.display {
    background-color: #59AE7F;
    margin-bottom: 30px;
}

.display .columns {
    background-color: #CCEBC0;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

.display a {
    color: #000000;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    -o-user-select: none;
    user-select: none;
}
