<div>
    <div class="menu">
        {{#link-to 'index'}}
        <h1 class="left">
            <em>Demeter</em>
        </h1>
        {{/link-to}}
        <div class="links">
            {{#link-to 'devices'}}
            Appareils
            {{/link-to}}
        </div>
    </div>

    <div class="body">
        {{outlet}}
    </div>
</div>
