<div class="container">
    <div class="row menu">
        {{#link-to 'index'}}
        <div class="two columns">
            <em>Demeter</em>
        </div>
        {{/link-to}}
        <div class="links nine columns">
            {{#link-to 'sensors'}}
            Capteurs
            {{/link-to}}
        </div>
    </div>

    <div class="body row">
        {{outlet}}
    </div>
</div>
