{{outlet}}
<h1>Liste des appareils</h1>
<table border="0">
    <tr>
        <th>Nom</th>
        <th>Valeur</th>
    </tr>

    {{#each model as |device|}}
    <tr>
        <td>{{device.name}}</td>
        <td>{{device.value}}</td>
    </tr>
    {{/each}}
</table>
